.d-table {
    display: table;
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid rgb(40, 113, 122);
    font-size: 15px;
    background: #fff!important;
}

.d-tr:nth-child(odd) {
    display: table-row;
    background: #fff;
}

.d-tr:nth-child(even) {
    display: table-row;
    background: #F7F7F7;
}

.d-td {
    display: table-cell;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #eee;
    vertical-align: middle;
}

.d-th {
    display: table-cell;
    font-weight: bold;
    padding: 5px;
    background: #5ea1ee;
    border: 1px solid #dddddd;
}

.paginator {
    line-height: 150%;
}

.paginator>span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.paginator_active {
    color: red;
}
.field_active {
    display: table-cell;
    font-weight: bold;
    padding: 5px;
    background: #5ea1ee;
    border: 1px solid #dddddd;
    color:aquamarine;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.font {
    font-weight: bold;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 22px;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.button1 {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #fc8804;
    padding: 10px 22px;
}

.button1:hover {
    background-color: #fc8804;
    color: white;
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio + label {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.d-th input[type=radio]:checked + label{
    color:greenyellow
}

